doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
| &apos;
span(style='display:none') Boost email engagement with Mailmodo
div(style='background-color:#faf5ff')
  div(style='background:#fff;background-color:#fff;margin:0 auto;max-width:600px')
    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#fff;background-color:#fff;width:100%')
      tbody
        tr
          td(style='direction:ltr;font-size:0;padding:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;text-align:center')
            div(style='background:#fff;background-color:#fff;margin:0 auto;max-width:600px')
              table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#fff;background-color:#fff;width:100%')
                tbody
                  tr
                    td(style='border:undefined solid undefined;direction:ltr;font-size:0;padding:20px 0;padding-bottom:30px;padding-left:20px;padding-right:20px;padding-top:20px;text-align:center')
                      .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                          tbody
                            tr
                              td(style='background-color:transparent;border:0 solid undefined;vertical-align:top;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0')
                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                                  tbody
                                    tr
                                      td(align='center' style='font-size:0;padding:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;word-break:break-word')
                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0')
                                          tbody
                                            tr
                                              td(style='width:44px')
                                                amp-img.i-amphtml-element.i-amphtml-layout-responsive.i-amphtml-layout-size-defined.i-amphtml-built.i-amphtml-layout(alt='Alternate image text' src='https://cdn-icons-png.flaticon.com/128/2500/2500133.png' style='border: 0px solid transparent; border-radius: 0px; display: block; outline: 0px; text-decoration: none; width: 100%; font-size: 13px; --loader-delay-offset: 252ms !important;' width='256' height='256' layout='responsive' i-amphtml-layout='responsive')
                                                  i-amphtml-sizer(slot='i-amphtml-svc' style='padding-top: 100%;')
                                                  img.i-amphtml-fill-content.i-amphtml-replaced-content(decoding='async' alt='Alternate image text' src='https://cdn-icons-png.flaticon.com/128/2500/2500133.png')
                                                |                                                                                                     PiChess
            div(style='background:#fff;background-color:#fff;margin:0 auto;max-width:600px')
              table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#fff;background-color:#fff;width:100%')
                tbody
                  tr
                    td(style='border:0 solid #1e293b;direction:ltr;font-size:0;padding:20px 0;padding-bottom:40px;padding-left:30px;padding-right:30px;padding-top:20px;text-align:center')
                      .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='background-color:transparent;border:0 solid transparent;vertical-align:top' width='100%')
                          tbody
                            tr
                              td(align='left' style='font-size:0;padding:10px 25px;padding-top:0;padding-right:0;padding-bottom:24px;padding-left:0;word-break:break-word')
                                div(style='font-family:Helvetica;font-size:16px;font-weight:400;letter-spacing:0;line-height:1.5;text-align:left;color:#1e293b')
                                  p(style='text-align:justify')
                                    span(style='font-size:36px')
                                      | Account
                                      | Details
                                  p(style='text-align:justify') &nbsp;
                                  p(style='text-align:justify')
                                    span(style='font-size:16px')
                                      | Hi
                                      strong  #{username},
                                
                                  p(style='text-align:justify')
                                  span(style='font-size:16px; font-family: "Exo 2", sans-serif;')
                                    | Your account has been successfully created on PiChess.
                                   
                                    br
                                    | Your account details are:
                                    br
                                    | Username:
                                    strong  #{username}
                                    br
                                    | Password:
                                    strong  #{password}

                                                                                                                  
                                  p &nbsp;
                            tr
                              td(align='center' style='font-size:0;padding:0;word-break:break-word')
                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:separate;width:auto;line-height:100%')
                                  tbody
                                    tr
                                      td(align='center' bgcolor='#EB4747' role='presentation' style='border-radius:4px;border:0 solid none;cursor:auto;height:auto;background:#eb4747;padding:0')
                                        a(href='https://tracker.mailmodo.email/clicks/web/f28870a9-ec3f-416c-aad7-d6dfdf6b1cb5/EXTERNAL/5899f07a-304d-55d9-86b6-ee22788187e2' style='display:inline-block;background:#eb4747;color:#fff;font-family:Helvetica;font-size:16px;font-weight:400;line-height:1;letter-spacing:1px;margin:0;text-decoration:none;text-transform:none;padding:12px 24px 12px 24px;border-radius:4px' target='_blank')
                                          strong
                                            | We recommend you to change your password immidiately due to security reasons!
  
            div(style='background:#fff;background-color:#fff;margin:0 auto;max-width:600px')
              table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#fff;background-color:#fff;width:100%')
                tbody
                  tr
                    td(style='border:0 solid #1e293b;direction:ltr;font-size:0;padding:20px 0;padding-bottom:0;padding-left:50px;padding-right:50px;padding-top:0;text-align:center')
                      .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                          tbody
                            tr
                              td(style='background-color:transparent;border:0 solid transparent;vertical-align:top;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0')
                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                                  tbody
                                    tr
                                      td(style='font-size:0;padding:10px 25px;padding-top:10px;padding-right:0;padding-bottom:10px;padding-left:0;word-break:break-word')
                                        p(style='border-top:solid 1px #eb4747;font-size:1px;margin:0 auto;width:100%')
            div(style='background:0 0;background-color:transparent;margin:0 auto;max-width:600px')
              table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:0 0;background-color:transparent;width:100%')
                tbody
                  tr
                    td(style='border:0 solid #1e293b;direction:ltr;font-size:0;padding:20px 0;padding-bottom:30px;padding-left:20px;padding-right:20px;padding-top:20px;text-align:center')
                      .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='background-color:transparent;border:0 solid transparent;vertical-align:top' width='100%')
                          tbody
                            tr
                              td(align='center' style='font-size:0;padding:10px 25px;padding-top:12px;padding-right:0;padding-bottom:12px;padding-left:0;word-break:break-word')
                                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='float:none;display:inline-table')
                                  tbody
                                    tr
                                      td(style='padding:0 5px 0 5px;vertical-align:middle')
                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-radius:600px;width:32px')
                                          tbody
                                            tr
                                              td(style='font-size:0;height:32px;vertical-align:middle;width:32px')
                                                a(href='https://tracker.mailmodo.email/clicks/web/f28870a9-ec3f-416c-aad7-d6dfdf6b1cb5/EXTERNAL/af079bdc-4a6e-5b32-8374-68a691566b26' target='_blank')
                                                  amp-img.i-amphtml-element.i-amphtml-layout-responsive.i-amphtml-layout-size-defined.i-amphtml-built.i-amphtml-layout(alt='Facebook' src='https://res.cloudinary.com/mailmodo/image/upload/v1631877970/editor/constants/EditorIcons/facebook.png' style='border-radius:600px;display:block;width:100%' layout='responsive' width='10' height='10' i-amphtml-layout='responsive')
                                                    i-amphtml-sizer(slot='i-amphtml-svc' style='padding-top: 100%;')
                                                    img.i-amphtml-fill-content.i-amphtml-replaced-content(decoding='async' alt='Facebook' src='https://res.cloudinary.com/mailmodo/image/upload/v1631877970/editor/constants/EditorIcons/facebook.png')
                                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='float:none;display:inline-table')
                                  tbody
                                    tr
                                      td(style='padding:0 5px 0 5px;vertical-align:middle')
                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-radius:600px;width:32px')
                                          tbody
                                            tr
                                              td(style='font-size:0;height:32px;vertical-align:middle;width:32px')
                                                a(href='https://tracker.mailmodo.email/clicks/web/f28870a9-ec3f-416c-aad7-d6dfdf6b1cb5/EXTERNAL/fc052f78-8459-5e2b-aba3-b5f436359190' target='_blank')
                                                  amp-img.i-amphtml-element.i-amphtml-layout-responsive.i-amphtml-layout-size-defined.i-amphtml-built.i-amphtml-layout(alt='Snapchat' src='https://res.cloudinary.com/mailmodo/image/upload/v1632361627/editor/constants/EditorIcons/snapchat.png' style='border-radius:600px;display:block;width:100%' layout='responsive' width='10' height='10' i-amphtml-layout='responsive')
                                                    i-amphtml-sizer(slot='i-amphtml-svc' style='padding-top: 100%;')
                                                    img.i-amphtml-fill-content.i-amphtml-replaced-content(decoding='async' alt='Snapchat' src='https://res.cloudinary.com/mailmodo/image/upload/v1632361627/editor/constants/EditorIcons/snapchat.png')
                                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='float:none;display:inline-table')
                                  tbody
                                    tr
                                      td(style='padding:0 5px 0 5px;vertical-align:middle')
                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-radius:600px;width:32px')
                                          tbody
                                            tr
                                              td(style='font-size:0;height:32px;vertical-align:middle;width:32px')
                                                a(href='https://tracker.mailmodo.email/clicks/web/f28870a9-ec3f-416c-aad7-d6dfdf6b1cb5/EXTERNAL/f0ea5a4e-c280-5043-a42b-03893c19d0f2' target='_blank')
                                                  amp-img.i-amphtml-element.i-amphtml-layout-responsive.i-amphtml-layout-size-defined.i-amphtml-built.i-amphtml-layout(alt='Linkedin' src='https://res.cloudinary.com/mailmodo/image/upload/v1631877969/editor/constants/EditorIcons/Linkedin.png' style='border-radius:600px;display:block;width:100%' layout='responsive' width='10' height='10' i-amphtml-layout='responsive')
                                                    i-amphtml-sizer(slot='i-amphtml-svc' style='padding-top: 100%;')
                                                    img.i-amphtml-fill-content.i-amphtml-replaced-content(decoding='async' alt='Linkedin' src='https://res.cloudinary.com/mailmodo/image/upload/v1631877969/editor/constants/EditorIcons/Linkedin.png')
                                table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='float:none;display:inline-table')
                                  tbody
                                    tr
                                      td(style='padding:0 5px 0 5px;vertical-align:middle')
                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-radius:600px;width:32px')
                                          tbody
                                            tr
                                              td(style='font-size:0;height:32px;vertical-align:middle;width:32px')
                                                amp-img.i-amphtml-element.i-amphtml-layout-responsive.i-amphtml-layout-size-defined.i-amphtml-built.i-amphtml-layout(alt='Instagram' src='https://res.cloudinary.com/mailmodo/image/upload/v1639159478/editor/p/31e7bae9-8e82-4d53-a3d6-532487e2ea1f/dce666bbba5337d041244e3820ade732_zikbug.png' style='border-radius:600px;display:block;width:100%' layout='responsive' width='10' height='10' i-amphtml-layout='responsive')
                                                  i-amphtml-sizer(slot='i-amphtml-svc' style='padding-top: 100%;')
                                                  img.i-amphtml-fill-content.i-amphtml-replaced-content(decoding='async' alt='Instagram' src='https://res.cloudinary.com/mailmodo/image/upload/v1639159478/editor/p/31e7bae9-8e82-4d53-a3d6-532487e2ea1f/dce666bbba5337d041244e3820ade732_zikbug.png')
                            tr
                              td(align='left' style='font-size:0;padding:10px 25px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:5px;word-break:break-word')
                                div(style='font-family:Helvetica;font-size:14px;font-weight:400;letter-spacing:.4px;line-height:1.4;text-align:left;color:#444')
                                  p(style='text-align:center')
                                    | Umiam Hostel
                                    | B-245
                                    | IIT, Guwahati, India
                            tr
                              td(style='background:0 0;font-size:0;word-break:break-word')
                                div(style='height:24px') &nbsp;
                            tr
                              td(align='left' style='font-size:0;padding:10px 25px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:5px;word-break:break-word')
                                div(style='font-family:Helvetica;font-size:12px;font-weight:400;letter-spacing:.4px;line-height:1.4;text-align:left;color:#444')
                                  p(style='text-align:center')
                                    strong
                                      | | Privacy
                                      | Policy | Contact Details | Fair Play
amp-img.i-amphtml-element.i-amphtml-layout-fixed.i-amphtml-layout-size-defined.i-amphtml-built.i-amphtml-layout(width='1' height='1' alt='signature' src='https://tracker.mailmodo.email/opens/web/f28870a9-ec3f-416c-aad7-d6dfdf6b1cb5/EXTERNAL' i-amphtml-layout='fixed' style='width: 1px; height: 1px;')
  img.i-amphtml-fill-content.i-amphtml-replaced-content(decoding='async' alt='signature' src='https://tracker.mailmodo.email/opens/web/f28870a9-ec3f-416c-aad7-d6dfdf6b1cb5/EXTERNAL')
table(width='100%' align='center' style="font-family:\'Open Sans\';max-width:600px;margin:0 auto;")
  tbody
    tr
      td(width='50%' align='left')
        a(style='margin-left: 10px; margin-right: 5px; color: grey; font-size: 10px; text-decoration: underline;' href='https://tracker.mailmodo.email/unsubscribes/web/f28870a9-ec3f-416c-aad7-d6dfdf6b1cb5/EXTERNAL') Unsubscribe
      td(width='50%' align='right')
        span(style='margin-left: 5px; margin-right: 10px; color: grey; font-size: 10px; text-decoration: underline;')
          | &#x26A1;
          | by PiChess
| &apos;
