
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');


body{
    /* background: rgb(32, 26, 26); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    font-family: 'Heebo', sans-serif;
    background-color: rgba(0, 0, 0, 0.397);
    /* background-image: url("https://t3.ftcdn.net/jpg/05/71/99/86/360_F_571998686_7q0qDN2lvCn5wv90SHEepoffd0Pq8NRY.jpg"); */
    /* background-repeat: no-repeat; */
    background-size:contain ;
    background-position: left top;
}

#chessBoard{
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(8,1fr);
    /* border: 6px solid black; */
  
    /* margin: 0vh 30vw; */
    
    
    box-shadow: 0px 0px 10px black;
    
    

    
}
#evaluationBar{
    width: 1.5vw;
    margin-right: 0.2vw;
    /* border:1px solid black; */
    
    
}
#blackH{
    background-color: rgba(0, 0, 0, 0.596);
    height: 50%;
    width: 100%;
    transition: 0.5s;
}
#whiteH{
    background-color: rgba(255, 255, 255, 0.596);
    height: 50%;
    width: 100%;
    transition: 0.5s;
}
.emptySquare{
    background-color: 'hotpink';
}

.temp{
    background-color: blue;
}


.blankImage{
    
    opacity: 0;
}
#score{
     height: 2vh;
    width: 41vw;
    padding: 1vh;
    /* background-color: red; */
    
    margin-top: 3vh;
    margin-bottom:5px;
    display: flex;
    /* border: 1px solid black; */
}


#white{
    height: 120%;
    width: 50%;
    
    
    
    
    background-color: aliceblue;
    border: 1px solid black;
    transition: 0.5s;
    
}
#black{
    height: 120%;
    width: 50%;
    /* padding: 1vh; */
    
    
    border: 1px solid black;
    
    background-color: black;
    transition: 0.5s;
}
.material{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 15vh;
    width: 15vw;
    padding: auto;
    text-align: center;
    background-color: lightblue;
    font-size: 30px;
    font-weight: bold;
}

#whiteMaterial,#blackMaterial{
    color: blue;
    margin: 8px;
    
}

.message{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    margin-left: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options{
   
    background-color: rgb(0, 109, 128);
    
    
    cursor: pointer;
    
}

.piece{
    cursor: grab;
    
}




